openapi: 3.0.0
info:
  title: Abugida Application API
  description: |
    # Overview

    **Error Responses:** All 4xx and 5xx responses use `application/problem+json`
    content-type per [RFC 9457](https://www.rfc-editor.org/rfc/rfc9457).

    Unified REST API for the **Abugida Application** — a comprehensive learning platform
    supporting examination preparation across multiple education segments.

    **Ethiopian users only. All prices in Ethiopian Birr (ETB). Telebirr is the sole payment method.**

    ## API Versioning

    All endpoints are versioned via the URL path prefix `/api/v1/`. Breaking changes will
    increment the version number. Non-breaking additions may be introduced within v1.

    ## Authentication

    Authentication endpoints (`/auth/*`) are provided by **Better Auth** framework.
    The API uses **JWT Bearer tokens** for user authentication:
    - Sign-in providers: **Google Sign-In** and **Apple ID**
    - Access and refresh token lifecycle managed by Better Auth
    - Include as: `Authorization: Bearer <access_token>`

    Webhook endpoints use **API Key** authentication via the `X-API-Key` header.

    ## Response Envelope

    All successful responses follow a consistent envelope:

    **Single resource:**
    ```json
    {
      "data": { ... },
      "meta": {
        "requestId": "uuid-v7",
        "timestamp": "2026-04-30T10:30:00Z"
      }
    }
    ```

    **Collection with cursor pagination:**
    ```json
    {
      "data": [ ... ],
      "meta": {
        "requestId": "uuid-v7",
        "timestamp": "2026-04-30T10:30:00Z",
        "hasNextPage": true,
        "nextCursor": "base64url-encoded-cursor",
        "limit": 20
      }
    }
    ```

    ## Error Format

    All errors follow [RFC 7807 Problem Details](https://tools.ietf.org/html/rfc7807):
    ```json
    {
      "type": "https://api.example.com/errors/invalid-parameter",
      "title": "Invalid Parameter",
      "status": 400,
      "detail": "The 'email' field must be a valid email address.",
      "instance": "/api/v1/users/me",
      "correlationId": "01JQXYZ..."
    }
    ```

    ## Rate Limiting

    Per NFR-403:
    - **Authenticated users:** 100 requests per minute
    - **Unauthenticated IPs:** 1000 requests per minute

    Rate limit status is returned in response headers:
    - `X-RateLimit-Limit`: Maximum requests per window
    - `X-RateLimit-Remaining`: Requests remaining in current window
    - `X-RateLimit-Reset`: Unix timestamp when the window resets

    When exceeded, the API returns `429 Too Many Requests` with a `Retry-After` header.

    ## Cross-Origin Resource Sharing (CORS)

    The API supports CORS for web client and mobile WebView integrations:

    | Header | Value |
    |--------|-------|
    | `Access-Control-Allow-Origin` | `https://app.abugada.com`, `capacitor://localhost` (mobile), `ionic://localhost` (mobile) |
    | `Access-Control-Allow-Methods` | `GET, POST, PATCH, PUT, DELETE, OPTIONS` |
    | `Access-Control-Allow-Headers` | `Authorization, Content-Type, X-Request-ID, Accept, X-API-Key` |
    | `Access-Control-Expose-Headers` | `X-RateLimit-Limit, X-RateLimit-Remaining, X-RateLimit-Reset, Retry-After, X-Request-ID, ETag, Link` |
    | `Access-Control-Max-Age` | `86400` (24 hours) |
    | `Access-Control-Allow-Credentials` | `true` |

    Preflight `OPTIONS` requests are handled automatically by the API gateway and do not
    require explicit endpoint definitions. Native mobile apps using platform HTTP clients
    (URLSession on iOS, OkHttp on Android) are not affected by CORS policies.

    ## Request Size Limits

    | Limit | Value | Applies To |
    |-------|-------|------------|
    | Maximum request body size | 10 MB | All `application/json` requests |
    | Maximum file upload size | 100 MB | `multipart/form-data` uploads (admin resource creation) |
    | Maximum PDF file size | 5 MB | PDF extraction for indexing (per FR-308) |
    | Maximum course download size | 500 MB | Course content bundles (compressed, per FR-204) |
    | Maximum review length | 2,000 characters | `POST /courses/{id}/reviews` body |
    | Maximum quiz answer length | 10,000 characters | `POST /resources/{id}/quiz/submit` body |

    Requests exceeding these limits receive `413 Payload Too Large`.

    ## Conditional Requests & Caching

    Resource endpoints (`GET /resources/{id}`) support conditional requests via `ETag` and `If-None-Match` headers:

    **Response Headers:**

    | Header | Description |
    |--------|-------------|
    | `ETag` | Entity tag based on `row_version` (format: `W/"<row_version>"`) |
    | `Last-Modified` | Timestamp of last resource update |
    | `Cache-Control` | `private, max-age=300` (5 minutes for authenticated content) |

    **Conditional Request Flow:**
    1. Client receives `ETag: W/"3"` on first request (row_version = 3)
    2. Client sends `If-None-Match: W/"3"` on subsequent requests
    3. If resource unchanged: `304 Not Modified` (no body, saves bandwidth)
    4. If resource updated: `200 OK` with new `ETag` and full body

    **Supported on:** `GET /resources/{id}`, `GET /courses/{courseId}`, `GET /courses/{courseId}/modules`.

    Public endpoints (`GET /exam-types`, `GET /search/courses`) support `Cache-Control: public, max-age=3600` (1 hour).

    ## Pagination

    All collection endpoints use **cursor-based pagination**:
    - `?cursor=<opaque-cursor>&limit=<1-100>`
    - Default limit: 20
    - Maximum limit: 100
    - Response includes `nextCursor` when more results exist

    ## Content Types

    - **Requests:** `application/json` (except file uploads: `multipart/form-data`)
    - **Responses:** `application/json` or `application/problem+json` for errors
    - **File downloads:** Binary with appropriate MIME type
    - **CSV exports:** `text/csv`

    ## Compliance

    - **GDPR:** User data export (JSON) within 7 days; deletion within 30 days (FR-904)
    - **CCPA:** Opt-out mechanisms via consent management (FR-905)
    - **OWASP Top 10:** Weekly automated security scanning (NFR-401)
    - **Data retention:** Audit logs 1 year

    ## Third-Party Integrations

    | Service | Purpose | Availability |
    |---------|---------|-------------|
    | Better Auth | OAuth/authentication framework (Google + Apple ID) | Production only |
    | SMSEthiopia | SMS payment confirmations | Production only |
    | Telebirr C2B | Sole payment method (all platforms) | Production only |

    ## Enum Serialization Convention

    All enum values are transmitted as **UPPER_SNAKE_CASE** in both requests and responses
    (e.g., `IOS`, `ANDROID`, `WEB`). The API gateway serializes/deserializes to/from the
    database's lowercase snake_case storage format transparently. Clients never need to
    handle lowercase enum values.

    **References:**
    - [Software Requirements Specification v1.0](./SRS.md)
    - [Database Schema v4.0](./db.txt)
    - [API Generation Plan](./re.md)

  version: 2.0.0
  termsOfService: https://abugada.com/terms
  contact:
    name: Abugida API Support Team
    email: api-support@abugada.com
    url: https://abugada.com/developers
  license:
    name: Proprietary
    url: https://abugada.com/license
  x-release-phase: MVP
  x-db-schema-version: '4.0'

servers:
  - url: https://api.abugada.com/api/v1
    description: Production
  - url: https://api-staging.abugada.com/api/v1
    description: Staging
  - url: https://api-sandbox.abugada.com/api/v1
    description: Development

security:
  - bearerAuth: []

tags:
  - name: Users
    description: User profiles, preferences, onboarding, devices, GDPR operations
    x-fr-series: FR-100, FR-900
  - name: Dashboard
    description: User dashboard with aggregated statistics, activity feed, and insights
    x-fr-series: FR-600, FR-700
  - name: ExamTypes
    description: Exam type hierarchy navigation (self-referencing tree)
    x-fr-series: FR-200
  - name: Resources
    description: Educational resource library — hierarchy navigation, course search
    x-fr-series: FR-200
  - name: Bundles
    description: Course bundles — grouped course packages by exam type
    x-fr-series: FR-200, FR-400
  - name: Progress
    description: User learning progress, enrollments, lesson completions, and study tracking
    x-fr-series: FR-500
  - name: Bookmark
    description: User bookmarks for courses and resources
    x-fr-series: FR-206
  - name: Downloads
    description: Offline course content downloads, download status, and presigned download URLs
    x-fr-series: FR-204
  - name: Purchases
    description: Telebirr-only purchases for courses and bundles, enrollments
    x-fr-series: FR-400, FR-500
  - name: Quiz
    description: Quiz questions, attempts, and answer submission
    x-fr-series: FR-500
  - name: Recommendations
    description: Course ratings, reviews, popularity-based recommendations
    x-fr-series: FR-700
  - name: Webhooks
    description: Incoming webhooks from payment providers and SMS service
    x-fr-series: FR-400, FR-1000
  - name: System
    description: Health checks, metrics, and operational endpoints

x-deprecation-policy:
  minimum-notice-months: 6
  sunset-header: Sunset
  sunset-link-relation: sunset
  description: |
    Deprecation Policy:
    - Endpoints marked `deprecated: true` are scheduled for removal
    - Minimum 6-month notice before endpoint removal
    - Deprecated endpoints include `Sunset` header with removal date
    - Migration guides published at `https://docs.abugada.com/migration`

paths:
  # =========================================================================
  # USERS ENDPOINTS
  # =========================================================================
  /users/me:
    get:
      tags: [Users]
      summary: Get current user profile
      operationId: getMyProfile
      security:
        - bearerAuth: []
      responses:
        '200':
          description: User profile retrieved
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SingleResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/UserProfile'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
    patch:
      tags: [Users]
      summary: Update current user profile
      operationId: updateMyProfile
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserProfileUpdate'
      responses:
        '200':
          description: Profile updated successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SingleResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/UserProfile'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '409':
          $ref: '#/components/responses/409'
        '422':
          $ref: '#/components/responses/422'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
    delete:
      tags: [Users]
      summary: Delete current user account
      description: Initiate GDPR account deletion (queued, async)
      operationId: deleteMyAccount
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountDeletionRequest'
      responses:
        '202':
          description: Deletion queued
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '409':
          $ref: '#/components/responses/409'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'

  /users/me/onboarding:
    get:
      tags: [Users]
      summary: Get onboarding progress
      operationId: getOnboarding
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Onboarding state retrieved
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SingleResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/OnboardingState'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
    post:
      tags: [Users]
      summary: Update onboarding progress
      operationId: updateOnboarding
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OnboardingStepUpdate'
      responses:
        '200':
          description: Onboarding updated
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SingleResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/OnboardingState'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '409':
          $ref: '#/components/responses/409'
        '422':
          $ref: '#/components/responses/422'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'

  /users/me/onboarding/retrigger:
    post:
      tags: [Users]
      summary: Retrigger onboarding flow
      operationId: retriggerOnboarding
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OnboardingRetriggerRequest'
      responses:
        '200':
          description: Onboarding retriggered
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SingleResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '409':
          $ref: '#/components/responses/409'
        '422':
          $ref: '#/components/responses/422'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'

  /users/me/consents:
    get:
      tags: [Users]
      summary: Get user consent records
      operationId: getConsents
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Consents retrieved
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SingleResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/ConsentRecord'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
    put:
      tags: [Users]
      summary: Update user consents
      description: |
        Updates consent preferences. Creates new immutable consent records in
        `auth.user_consents`. The `essential` consent type is always granted and
        cannot be modified via this endpoint.

        **Enum mapping:** Request values (UPPER_SNAKE_CASE) are mapped to DB
        lowercase values by the service layer. The `ESSENTIAL` type is excluded
        from this endpoint as it is non-modifiable.
      operationId: updateConsents
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConsentUpdate'
      responses:
        '200':
          description: Consents updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SingleResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '409':
          $ref: '#/components/responses/409'
        '422':
          $ref: '#/components/responses/422'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'

  /users/me/export:
    get:
      tags: [Users]
      summary: Export user data
      description: GDPR data export (FR-904) - returns streaming JSON or CSV
      operationId: exportData
      security:
        - bearerAuth: []
      parameters:
        - name: include
          in: query
          schema:
            type: array
            items:
              type: string
              enum: [PROFILE, PROGRESS, PURCHASES, CONSENTS]
        - name: format
          in: query
          schema:
            type: string
            enum: [JSON, CSV]
            default: JSON
      responses:
        '200':
          description: Export in progress (streaming)
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                  meta:
                    $ref: '#/components/schemas/ResponseMetadata'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'

  /users/me/devices:
    get:
      tags: [Users]
      summary: Get registered devices
      operationId: getDevices
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Devices retrieved
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SingleResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/Device'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
    post:
      tags: [Users]
      summary: Register a new device
      description: Enforces 3-device limit per user account (`auth.users.max_devices`).
      operationId: registerDevice
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeviceRegistrationRequest'
      responses:
        '201':
          description: Device registered
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SingleResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Device'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '409':
          description: Device limit exceeded — maximum 3 devices per account
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        '422':
          $ref: '#/components/responses/422'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'

  /users/me/devices/{deviceId}:
    patch:
      tags: [Users]
      summary: Update device details
      description: Update device name or mark as inactive.
      operationId: updateDevice
      security:
        - bearerAuth: []
      parameters:
        - name: deviceId
          in: path
          required: true
          description: UUID v7 identifier of the device
          schema:
            $ref: '#/components/schemas/UUIDv7'
          example: 018f3a2c-9b5e-7d4a-a1c2-e3f4a5b6c7d8
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeviceUpdateRequest'
      responses:
        '200':
          description: Device updated
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SingleResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Device'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '409':
          $ref: '#/components/responses/409'
        '422':
          $ref: '#/components/responses/422'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
    delete:
      tags: [Users]
      summary: Remove a device
      operationId: removeDevice
      security:
        - bearerAuth: []
      parameters:
        - name: deviceId
          in: path
          required: true
          description: UUID v7 identifier of the device
          schema:
            $ref: '#/components/schemas/UUIDv7'
          example: 018f3a2c-9b5e-7d4a-a1c2-e3f4a5b6c7d8
      responses:
        '204':
          description: Device removed
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '409':
          $ref: '#/components/responses/409'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'

  # =========================================================================
  # DASHBOARD ENDPOINTS
  # =========================================================================
  /users/me/dashboard:
    get:
      tags: [Dashboard]
      summary: Get user dashboard data
      description: |
        Aggregated dashboard data for the user's home screen. This single endpoint provides
        all necessary data for the dashboard view, reducing the need for multiple API calls.

        **Includes:**
        - User statistics (study time, lessons, XP, streak)
        - Recent activity feed
        - Key insights and achievements
        - Weekly study data
        - Upcoming deadlines
        - Jump-back course recommendation

        **Performance:** Cached for 60 seconds to reduce database load.

        **DB Note:** XP, streak, sessions, deadlines, and achievements are computed
        service-side from `learning.enrollments`, `learning.lesson_completions`, and
        `catalog.course_stats`. No dedicated DB tables required for these aggregations.
      operationId: getDashboard
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Dashboard data retrieved
          headers:
            Cache-Control:
              schema:
                type: string
                example: private, max-age=60
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SingleResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/DashboardData'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'

  # =========================================================================
  # EXAM TYPES ENDPOINTS
  # =========================================================================
  /exam-types:
    get:
      tags: [ExamTypes]
      summary: List top-level exam types
      description: |
        Public endpoint. Returns all top-level exam types (where `parent_exam_type_id IS NULL`)
        with cursor-based pagination. Maps to `catalog.exam_types` with `depth = 0`.

        **DB Alignment:** `catalog.exam_types` is a self-referencing hierarchy.
        Top-level items represent major education categories; children represent sub-categories.
      operationId: listExamTypes
      parameters:
        - name: cursor
          in: query
          required: false
          description: |
            Opaque cursor for retrieving the next page of results.
            Obtained from the `meta.nextCursor` field of a previous paginated response.
            Omit or set to empty string to retrieve the first page.
          schema:
            type: string
        - name: limit
          in: query
          required: false
          description: 'Maximum number of items to return per page. Default: 20, Min: 1, Max: 100'
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
          example: 20
        - name: include_children
          in: query
          required: false
          description: If true, includes immediate children nested under each exam type.
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: Exam types retrieved
          headers:
            Cache-Control:
              schema:
                type: string
                example: public, max-age=3600
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CursorPaginatedResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'

  /exam-types/{examTypeId}:
    get:
      tags: [ExamTypes]
      summary: Get exam type details with children
      description: |
        Returns a single exam type including its child exam types.
        Maps to `catalog.exam_types` with self-referencing `parent_exam_type_id`.
      operationId: getExamType
      parameters:
        - name: examTypeId
          in: path
          required: true
          description: UUID v7 identifier of the exam type (public_id)
          schema:
            $ref: '#/components/schemas/UUIDv7'
          example: 018f3a2c-9b5e-7d4a-a1c2-e3f4a5b6c7d8
        - name: include_children
          in: query
          required: false
          description: Include child exam types in response
          schema:
            type: boolean
            default: true
      responses:
        '200':
          description: Exam type retrieved
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SingleResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/ExamType'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'

  /exam-types/{examTypeId}/children:
    get:
      tags: [ExamTypes]
      summary: List child exam types
      description: |
        Returns all child exam types for the given parent exam type.
        Maps to `catalog.exam_types WHERE parent_exam_type_id = :id ORDER BY sort_order`.
        Uses index `idx_exam_types_parent_order`.
      operationId: listChildExamTypes
      parameters:
        - name: examTypeId
          in: path
          required: true
          description: UUID v7 identifier of the parent exam type
          schema:
            $ref: '#/components/schemas/UUIDv7'
          example: 018f3a2c-9b5e-7d4a-a1c2-e3f4a5b6c7d8
      responses:
        '200':
          description: Child exam types retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'

  # =========================================================================
  # RESOURCES ENDPOINTS
  # =========================================================================
  /exam-types/{examTypeId}/courses:
    get:
      tags: [Resources]
      summary: List courses for an exam type
      description: |
        Returns published courses for the given exam type.
        Uses index `idx_courses_list_query` (exam_type_id, status, sort_order).
      operationId: listCourses
      parameters:
        - name: examTypeId
          in: path
          required: true
          description: UUID v7 identifier of the exam type
          schema:
            $ref: '#/components/schemas/UUIDv7'
          example: 018f3a2c-9b5e-7d4a-a1c2-e3f4a5b6c7d8
        - name: cursor
          in: query
          required: false
          description: Opaque cursor for pagination
          schema:
            type: string
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
        - name: sort
          in: query
          schema:
            type: string
            enum: [rating, popularity, newest, price_low, price_high]
      responses:
        '200':
          description: Courses retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CursorPaginatedResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'

  /courses/{courseId}:
    get:
      tags: [Resources]
      summary: Get course details
      description: |
        Returns full course metadata. Maps to `catalog.courses` joined with
        `catalog.course_stats` for ratings and popularity.
      operationId: getCourse
      parameters:
        - name: courseId
          in: path
          required: true
          description: UUID v7 identifier of the course (public_id)
          schema:
            $ref: '#/components/schemas/UUIDv7'
          example: 018f3a2c-9b5e-7d4a-a1c2-e3f4a5b6c7d8
      responses:
        '200':
          description: Course details retrieved
          headers:
            ETag:
              description: Entity tag based on row_version
              schema:
                type: string
                example: 'W/"3"'
            Last-Modified:
              schema:
                type: string
                format: http-date
            Cache-Control:
              schema:
                type: string
                example: private, max-age=300
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SingleResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Course'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '410':
          $ref: '#/components/responses/410'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'

  /courses/{courseId}/curriculum:
    get:
      tags: [Resources]
      summary: Get course curriculum
      description: |
        Returns the full hierarchical curriculum structure for a course including
        modules and lessons. Maps to `catalog.modules` → `catalog.lessons`.
      operationId: getCourseCurriculum
      parameters:
        - name: courseId
          in: path
          required: true
          description: UUID v7 identifier of the course
          schema:
            $ref: '#/components/schemas/UUIDv7'
          example: 018f3a2c-9b5e-7d4a-a1c2-e3f4a5b6c7d8
      responses:
        '200':
          description: Curriculum retrieved
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SingleResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/CourseCurriculum'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'

  /courses/{courseId}/modules:
    get:
      tags: [Resources]
      summary: List modules in a course
      description: |
        Returns a summary list of modules for a course.
        Uses index `idx_modules_course_order`.
      operationId: listModules
      parameters:
        - name: courseId
          in: path
          required: true
          description: UUID v7 identifier of the course
          schema:
            $ref: '#/components/schemas/UUIDv7'
          example: 018f3a2c-9b5e-7d4a-a1c2-e3f4a5b6c7d8
      responses:
        '200':
          description: Modules retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'

  /modules/{moduleId}/lessons:
    get:
      tags: [Resources]
      summary: List lessons in a module
      description: |
        Returns all lessons within a module. Maps to `catalog.lessons WHERE module_id = :id`.
        Uses index `idx_lessons_module`.
        Note: "Resources" in this API refers to DB "lessons" (`catalog.lessons`).
      operationId: listModuleLessons
      parameters:
        - name: moduleId
          in: path
          required: true
          description: UUID v7 identifier of the module
          schema:
            $ref: '#/components/schemas/UUIDv7'
          example: 018f3a2c-9b5e-7d4a-a1c2-e3f4a5b6c7d8
        - name: cursor
          in: query
          required: false
          schema:
            type: string
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
      responses:
        '200':
          description: Lessons retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CursorPaginatedResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'

  /resources/{resourceId}:
    get:
      tags: [Resources]
      summary: Get resource (lesson) details
      description: |
        Returns lesson details. Maps to `catalog.lessons`.
        Note: "Resource" = DB "lesson". Lessons are updated in place (no version tracking).
        ETag is derived from `row_version`.
      operationId: getResource
      parameters:
        - name: resourceId
          in: path
          required: true
          description: UUID v7 identifier of the lesson (public_id)
          schema:
            $ref: '#/components/schemas/UUIDv7'
          example: 018f3a2c-9b5e-7d4a-a1c2-e3f4a5b6c7d8
        - name: If-None-Match
          in: header
          description: Optional ETag for conditional request
          schema:
            type: string
      responses:
        '200':
          description: Resource details retrieved
          headers:
            ETag:
              description: Entity tag derived from row_version
              schema:
                type: string
                example: 'W/"5"'
            Last-Modified:
              description: Timestamp of last modification
              schema:
                type: string
                format: http-date
            Cache-Control:
              schema:
                type: string
                example: private, max-age=300
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SingleResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Lesson'
        '304':
          description: Not Modified
          headers:
            ETag:
              schema:
                type: string
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '410':
          $ref: '#/components/responses/410'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'

  # =========================================================================
  # BUNDLES ENDPOINTS
  # =========================================================================
  /bundles:
    get:
      tags: [Bundles]
      summary: List published course bundles
      description: |
        Returns all published course bundles. Maps to `catalog.course_bundles WHERE status = 'published'`.
        Uses index `idx_bundles_status`.
      operationId: listBundles
      parameters:
        - name: cursor
          in: query
          required: false
          schema:
            type: string
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
        - name: sort
          in: query
          schema:
            type: string
            enum: [newest, price_low, price_high, discount]
            default: newest
      responses:
        '200':
          description: Bundles retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CursorPaginatedResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'

  /bundles/{bundleId}:
    get:
      tags: [Bundles]
      summary: Get bundle details
      description: |
        Returns full bundle details including pricing, discount, and course count.
        Maps to `catalog.course_bundles`.
      operationId: getBundle
      parameters:
        - name: bundleId
          in: path
          required: true
          description: UUID v7 identifier of the bundle (public_id)
          schema:
            $ref: '#/components/schemas/UUIDv7'
          example: 018f3a2c-9b5e-7d4a-a1c2-e3f4a5b6c7d8
      responses:
        '200':
          description: Bundle retrieved
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SingleResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/CourseBundle'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '410':
          $ref: '#/components/responses/410'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'

  /bundles/{bundleId}/courses:
    get:
      tags: [Bundles]
      summary: List courses in a bundle
      description: |
        Returns all courses included in the bundle. Maps to `catalog.bundle_courses`
        joined with `catalog.courses`. Uses index `idx_bundle_courses_active`.
        Only returns courses where `is_included = true`.
      operationId: listBundleCourses
      parameters:
        - name: bundleId
          in: path
          required: true
          description: UUID v7 identifier of the bundle
          schema:
            $ref: '#/components/schemas/UUIDv7'
          example: 018f3a2c-9b5e-7d4a-a1c2-e3f4a5b6c7d8
      responses:
        '200':
          description: Bundle courses retrieved
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/CollectionResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/BundleCourseItem'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'

  /bundles/{bundleId}/purchase-options:
    get:
      tags: [Bundles]
      summary: Get purchase options for a bundle
      description: |
        Returns Telebirr purchase options for this bundle.
        Maps to `finance.purchase_options WHERE bundle_id = :id AND is_active = true`.
        Uses index `idx_purchase_options_bundle`.
      operationId: getBundlePurchaseOptions
      parameters:
        - name: bundleId
          in: path
          required: true
          description: UUID v7 identifier of the bundle
          schema:
            $ref: '#/components/schemas/UUIDv7'
          example: 018f3a2c-9b5e-7d4a-a1c2-e3f4a5b6c7d8
      responses:
        '200':
          description: Purchase options retrieved
          headers:
            X-Platform-Payment-Methods:
              description: Available payment methods
              schema:
                type: array
                items:
                  type: string
                  enum: [telebirr]
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/CollectionResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/PurchaseOption'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'

  /exam-types/{examTypeId}/bundles:
    get:
      tags: [Bundles]
      summary: List bundles for an exam type
      description: |
        Returns published bundles themed around the given exam type.
        Maps to `catalog.course_bundles WHERE exam_type_id = :id AND status = 'published'`.
        Uses index `idx_bundles_exam_status`.
      operationId: listBundlesByExamType
      parameters:
        - name: examTypeId
          in: path
          required: true
          description: UUID v7 identifier of the exam type
          schema:
            $ref: '#/components/schemas/UUIDv7'
          example: 018f3a2c-9b5e-7d4a-a1c2-e3f4a5b6c7d8
        - name: cursor
          in: query
          required: false
          schema:
            type: string
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
      responses:
        '200':
          description: Bundles retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CursorPaginatedResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'

  # =========================================================================
  # SEARCH ENDPOINTS
  # =========================================================================
  /search/courses:
    get:
      tags: [Resources]
      summary: Search for courses
      description: |
        Course-Centric Search optimized for finding courses across the platform.

        **Search Strategy:**
        - Primary: Full-text search on course title, description
        - Secondary: Filter by exam type hierarchy and tags
        - Tertiary: Sort by relevance, rating, popularity, or price

        **DB Alignment:** Full-text search uses `catalog.lessons.search_vector` GIN index
        aggregated at course level. Filters map to `catalog.courses` columns and
        `catalog.course_tag_assignments`.
      operationId: searchCourses
      parameters:
        - name: q
          in: query
          required: false
          description: Keyword search query (min 2 characters)
          schema:
            type: string
            minLength: 2
            maxLength: 200
          example: atomic structure
        - name: fuzzy
          in: query
          required: false
          description: Enable fuzzy matching (trigram similarity)
          schema:
            type: boolean
            default: false
        - name: exam_type
          in: query
          required: false
          description: Filter by exam type ID (includes children recursively)
          schema:
            $ref: '#/components/schemas/UUIDv7'
        - name: tags
          in: query
          required: false
          description: Filter by tag IDs (comma-separated)
          schema:
            type: array
            items:
              $ref: '#/components/schemas/UUIDv7'
        - name: sort
          in: query
          required: false
          schema:
            type: string
            enum: [relevance, rating, popularity, newest, price_low, price_high]
            default: relevance
        - name: min_price
          in: query
          required: false
          description: Minimum price in ETB
          schema:
            type: number
            minimum: 0
        - name: max_price
          in: query
          required: false
          description: Maximum price in ETB
          schema:
            type: number
            minimum: 0
        - name: free_only
          in: query
          required: false
          description: Only return free courses (maps to `courses.is_free`)
          schema:
            type: boolean
            default: false
        - name: cursor
          in: query
          required: false
          schema:
            type: string
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
      responses:
        '200':
          description: Course search results retrieved
          headers:
            Cache-Control:
              schema:
                type: string
                example: public, max-age=60
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CursorPaginatedResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'

  /search/bundles:
    get:
      tags: [Bundles]
      summary: Search for bundles
      description: |
        Search bundles by keyword, exam type, or price range.
        Maps to `catalog.course_bundles` with full-text on title/description.
      operationId: searchBundles
      parameters:
        - name: q
          in: query
          required: false
          schema:
            type: string
            minLength: 2
            maxLength: 200
        - name: exam_type
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/UUIDv7'
        - name: min_price
          in: query
          required: false
          schema:
            type: number
            minimum: 0
        - name: max_price
          in: query
          required: false
          schema:
            type: number
            minimum: 0
        - name: sort
          in: query
          required: false
          schema:
            type: string
            enum: [relevance, newest, price_low, price_high, discount]
            default: relevance
        - name: cursor
          in: query
          required: false
          schema:
            type: string
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
      responses:
        '200':
          description: Bundle search results retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CursorPaginatedResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'

  /search/suggestions:
    get:
      tags: [Resources]
      summary: Get search suggestions
      description: |
        Provides autocomplete suggestions for course search queries.
        Returns trending searches and popular topics based on platform-wide activity.
      operationId: getSearchSuggestions
      parameters:
        - name: q
          in: query
          required: false
          description: Prefix for autocomplete suggestions
          schema:
            type: string
            minLength: 1
            maxLength: 50
          example: chem
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 20
            default: 10
      responses:
        '200':
          description: Search suggestions retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SingleResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'

  # =========================================================================
  # TAGS ENDPOINTS
  # =========================================================================
  /tags:
    get:
      tags: [Resources]
      summary: List all tags
      description: Maps to `catalog.course_tags WHERE deleted_at IS NULL`.
      operationId: listTags
      responses:
        '200':
          description: Tags retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'

  /tags/{tagId}/courses:
    get:
      tags: [Resources]
      summary: List courses by tag
      description: Maps to `catalog.course_tag_assignments` joined with `catalog.courses`.
      operationId: listCoursesByTag
      parameters:
        - name: tagId
          in: path
          required: true
          description: UUID v7 identifier of the tag
          schema:
            $ref: '#/components/schemas/UUIDv7'
          example: 018f3a2c-9b5e-7d4a-a1c2-e3f4a5b6c7d8
        - name: cursor
          in: query
          required: false
          schema:
            type: string
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
      responses:
        '200':
          description: Courses retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CursorPaginatedResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'

  # =========================================================================
  # PROGRESS ENDPOINTS
  # =========================================================================
  /users/me/progress:
    get:
      tags: [Progress]
      summary: Get user learning progress
      description: |
        Aggregated learning progress. Computed from `learning.enrollments`
        and `learning.lesson_completions`.
      operationId: getProgressStats
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Progress statistics retrieved
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SingleResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/ProgressStats'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'

  /users/me/enrollments:
    get:
      tags: [Progress]
      summary: List user enrollments
      description: |
        Returns all course enrollments for the authenticated user.
        Maps to `learning.enrollments WHERE student_id = :userId AND deleted_at IS NULL`.
        Uses index `idx_enrollments_active`.
      operationId: listEnrollments
      security:
        - bearerAuth: []
      parameters:
        - name: cursor
          in: query
          required: false
          schema:
            type: string
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
        - name: status
          in: query
          required: false
          description: |
            Filter by enrollment status. Derived from DB fields:
            - `NOT_STARTED`: progress_percentage = 0 AND is_completed = false
            - `IN_PROGRESS`: progress_percentage > 0 AND is_completed = false
            - `COMPLETED`: is_completed = true
          schema:
            type: string
            enum: [NOT_STARTED, IN_PROGRESS, COMPLETED]
        - name: source
          in: query
          required: false
          description: Filter by enrollment source (maps to `enrollment_source` enum)
          schema:
            type: string
            enum: [PURCHASE, BUNDLE_PURCHASE, FREE_ACCESS, ADMIN_GRANT, PREVIEW]
      responses:
        '200':
          description: Enrollments retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CursorPaginatedResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'

  /users/me/enrollments/{enrollmentId}:
    get:
      tags: [Progress]
      summary: Get enrollment details
      description: |
        Returns detailed enrollment including bundle source info.
        Maps to `learning.enrollments` with optional join to `catalog.course_bundles`.
      operationId: getEnrollment
      security:
        - bearerAuth: []
      parameters:
        - name: enrollmentId
          in: path
          required: true
          description: UUID v7 identifier of the enrollment (public_id)
          schema:
            $ref: '#/components/schemas/UUIDv7'
          example: 018f3a2c-9b5e-7d4a-a1c2-e3f4a5b6c7d8
      responses:
        '200':
          description: Enrollment details retrieved
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SingleResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Enrollment'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'

  /users/me/enrollments/{enrollmentId}/lesson-completions:
    get:
      tags: [Progress]
      summary: List lesson completions for an enrollment
      description: |
        Returns all lesson completion records for the given enrollment.
        Maps to `learning.lesson_completions WHERE enrollment_id = :id`.
        Uses index `idx_lesson_completions_progress`.
      operationId: listLessonCompletions
      security:
        - bearerAuth: []
      parameters:
        - name: enrollmentId
          in: path
          required: true
          description: UUID v7 identifier of the enrollment
          schema:
            $ref: '#/components/schemas/UUIDv7'
        - name: cursor
          in: query
          required: false
          schema:
            type: string
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
      responses:
        '200':
          description: Lesson completions retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CursorPaginatedResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'

  /users/me/enrollments/{enrollmentId}/lesson-completions/{lessonId}:
    put:
      tags: [Progress]
      summary: Mark a lesson as complete or incomplete
      description: |
        Toggles lesson completion status within an enrollment.
        Maps to `learning.lesson_completions` (upsert on student_id + lesson_id).
        On completion, triggers recalculation of `enrollments.progress_percentage`.
        The `row_version` on the enrollment is incremented for optimistic concurrency.
      operationId: updateLessonCompletion
      security:
        - bearerAuth: []
      parameters:
        - name: enrollmentId
          in: path
          required: true
          description: UUID v7 identifier of the enrollment
          schema:
            $ref: '#/components/schemas/UUIDv7'
        - name: lessonId
          in: path
          required: true
          description: UUID v7 identifier of the lesson
          schema:
            $ref: '#/components/schemas/UUIDv7'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LessonCompletionUpdate'
      responses:
        '200':
          description: Lesson completion updated
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SingleResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/LessonCompletion'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '409':
          $ref: '#/components/responses/409'
        '422':
          $ref: '#/components/responses/422'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'

  # =========================================================================
  # BOOKMARK ENDPOINTS
  # =========================================================================
  /users/me/bookmarks:
    get:
      tags: [Bookmark]
      summary: List user bookmarks
      description: |
        Returns all bookmarked courses and resources for the authenticated user.
        Bookmarks are sorted by creation date (newest first).

        **DB Note:** Requires a bookmarks table (not yet in DBML v4.0).
        Service-layer implementation pending DB migration.
      operationId: listBookmarks
      security:
        - bearerAuth: []
      x-db-alignment: pending_table
      parameters:
        - name: cursor
          in: query
          required: false
          schema:
            type: string
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
      responses:
        '200':
          description: Bookmarks retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CursorPaginatedResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
    post:
      tags: [Bookmark]
      summary: Create a bookmark
      description: |
        Bookmark a course or resource for quick access.

        **DB Note:** Requires a bookmarks table (not yet in DBML v4.0).
      operationId: createBookmark
      security:
        - bearerAuth: []
      x-db-alignment: pending_table
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BookmarkCreate'
      responses:
        '201':
          description: Bookmark created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SingleResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '409':
          description: Item already bookmarked
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        '422':
          $ref: '#/components/responses/422'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'

  /users/me/bookmarks/{itemId}:
    delete:
      tags: [Bookmark]
      summary: Remove a bookmark
      operationId: deleteBookmark
      security:
        - bearerAuth: []
      x-db-alignment: pending_table
      parameters:
        - name: itemId
          in: path
          required: true
          description: ID of the bookmarked item
          schema:
            $ref: '#/components/schemas/UUIDv7'
      responses:
        '204':
          description: Bookmark removed
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'

  # =========================================================================
  # DOWNLOAD ENDPOINTS
  # =========================================================================
  /courses/{courseId}/download:
    post:
      tags: [Downloads]
      summary: Initiate course download
      description: |
        Initiates a course content download package. Validates enrollment and
        download size limits (`catalog.lessons.download_size_limit_bytes`, max 500MB).
        Maps to `shared.file_metadata` for object keys and `catalog.lessons.file_object_key`.
      operationId: initiateDownload
      security:
        - bearerAuth: []
      parameters:
        - name: courseId
          in: path
          required: true
          description: UUID v7 identifier of the course
          schema:
            $ref: '#/components/schemas/UUIDv7'
          example: 018f3a2c-9b5e-7d4a-a1c2-e3f4a5b6c7d8
      responses:
        '200':
          description: Download initiated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SingleResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '409':
          $ref: '#/components/responses/409'
        '422':
          $ref: '#/components/responses/422'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'

  /courses/{courseId}/download/status:
    get:
      tags: [Downloads]
      summary: Get download status
      description: Returns current download preparation status for a course.
      operationId: getDownloadStatus
      security:
        - bearerAuth: []
      parameters:
        - name: courseId
          in: path
          required: true
          description: UUID v7 identifier of the course
          schema:
            $ref: '#/components/schemas/UUIDv7'
          example: 018f3a2c-9b5e-7d4a-a1c2-e3f4a5b6c7d8
      responses:
        '200':
          description: Download status retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SingleResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'

  /courses/{courseId}/download/presigned-url:
    get:
      tags: [Downloads]
      summary: Get presigned download URL
      description: |
        Returns a time-limited presigned URL for downloading the course package.
        Resolves `shared.file_metadata.object_key` + `bucket_name` to S3 presigned URL.
      operationId: getPresignedUrl
      security:
        - bearerAuth: []
      parameters:
        - name: courseId
          in: path
          required: true
          description: UUID v7 identifier of the course
          schema:
            $ref: '#/components/schemas/UUIDv7'
          example: 018f3a2c-9b5e-7d4a-a1c2-e3f4a5b6c7d8
      responses:
        '200':
          description: Presigned URL retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SingleResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'

  # =========================================================================
  # PURCHASE ENDPOINTS
  # =========================================================================
  /courses/{courseId}/purchase-options:
    get:
      tags: [Purchases]
      summary: Get purchase options for a course
      description: |
        Returns purchase options for a specific course. Telebirr is the sole payment method.
        Maps to `finance.purchase_options WHERE course_id = :id AND is_active = true`.
        Uses index `idx_purchase_options_course`.
      operationId: getCoursePurchaseOptions
      parameters:
        - name: courseId
          in: path
          required: true
          description: UUID v7 identifier of the course
          schema:
            $ref: '#/components/schemas/UUIDv7'
          example: 018f3a2c-9b5e-7d4a-a1c2-e3f4a5b6c7d8
      responses:
        '200':
          description: Purchase options retrieved
          headers:
            X-Platform-Payment-Methods:
              description: Available payment methods
              schema:
                type: array
                items:
                  type: string
                  enum: [telebirr]
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/CollectionResponse'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/PurchaseOption'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'

  /purchases:
    get:
      tags: [Purchases]
      summary: List user purchases
      description: |
        Returns all purchases (courses and bundles) for the authenticated user.
        Maps to `finance.purchases WHERE student_id = :userId`.
        Uses index `idx_purchases_student_time`.
      operationId: listPurchases
      security:
        - bearerAuth: []
      parameters:
        - name: cursor
          in: query
          required: false
          schema:
            type: string
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
        - name: type
          in: query
          required: false
          description: Filter by purchase type (course or bundle)
          schema:
            type: string
            enum: [COURSE, BUNDLE]
      responses:
        '200':
          description: Purchases retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CursorPaginatedResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
    post:
      tags: [Purchases]
      summary: Initiate a purchase
      description: |
        Initiates a purchase for either a course OR a bundle (XOR constraint).
        Maps to `finance.purchases`. DB CHECK constraint enforces:
        exactly one of `course_id` or `bundle_id` must be non-null.

        **Server-side resolution:** The `payment_gateway_id` (NOT NULL in DB) is
        resolved server-side to the active Telebirr gateway. Clients do not provide this.

        On completion with `bundle_id`, trigger `create_bundle_enrollments()` fires.
      operationId: initiatePurchase
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PurchaseInitiateRequest'
      responses:
        '201':
          description: Purchase initiated
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SingleResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Purchase'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '409':
          $ref: '#/components/responses/409'
        '422':
          $ref: '#/components/responses/422'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'

  /purchases/{purchaseId}:
    get:
      tags: [Purchases]
      summary: Get purchase details
      description: |
        Returns full purchase details including status, amount, and generated enrollments.
        Maps to `finance.purchases` joined with `finance.purchase_transactions`.
      operationId: getPurchase
      security:
        - bearerAuth: []
      parameters:
        - name: purchaseId
          in: path
          required: true
          description: UUID v7 identifier of the purchase (public_id)
          schema:
            $ref: '#/components/schemas/UUIDv7'
          example: 018f3a2c-9b5e-7d4a-a1c2-e3f4a5b6c7d8
      responses:
        '200':
          description: Purchase details retrieved
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SingleResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Purchase'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'

  # =========================================================================
  # QUIZ ENDPOINTS
  # =========================================================================
  /resources/{resourceId}/quiz:
    get:
      tags: [Quiz]
      summary: Get quiz questions for a lesson
      description: |
        Returns all quiz questions for a lesson with `content_type=quiz`.
        Maps to `learning.quiz_questions WHERE lesson_id = :id ORDER BY question_index`.
        Only accessible to enrolled students. Does NOT include correct answers.
      operationId: getQuizQuestions
      security:
        - bearerAuth: []
      parameters:
        - name: resourceId
          in: path
          required: true
          description: UUID v7 identifier of the lesson (must be content_type=quiz)
          schema:
            $ref: '#/components/schemas/UUIDv7'
          example: 018f3a2c-9b5e-7d4a-a1c2-e3f4a5b6c7d8
      responses:
        '200':
          description: Quiz questions retrieved
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SingleResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/QuizQuestionSet'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '422':
          description: Lesson is not a quiz type
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'

  /resources/{resourceId}/quiz/submit:
    post:
      tags: [Quiz]
      summary: Submit quiz answers
      description: |
        Submits answers for a quiz attempt. Creates records in `learning.quiz_attempts`
        and `learning.quiz_answers`. Maximum answer length: 10,000 characters per answer.
        Grading is server-side (compares against `quiz_questions.correct_answer`).
      operationId: submitQuizAttempt
      security:
        - bearerAuth: []
      parameters:
        - name: resourceId
          in: path
          required: true
          description: UUID v7 identifier of the quiz lesson
          schema:
            $ref: '#/components/schemas/UUIDv7'
          example: 018f3a2c-9b5e-7d4a-a1c2-e3f4a5b6c7d8
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QuizSubmitRequest'
      responses:
        '201':
          description: Quiz attempt recorded with results
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SingleResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/QuizAttemptResult'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '422':
          $ref: '#/components/responses/422'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'

  /resources/{resourceId}/quiz/attempts:
    get:
      tags: [Quiz]
      summary: List quiz attempts for a lesson
      description: |
        Returns all quiz attempts by the current user for a specific lesson.
        Maps to `learning.quiz_attempts WHERE student_id = :userId AND lesson_id = :id`.
        Uses index `idx_quiz_attempts_student_lesson`.
      operationId: listQuizAttempts
      security:
        - bearerAuth: []
      parameters:
        - name: resourceId
          in: path
          required: true
          description: UUID v7 identifier of the quiz lesson
          schema:
            $ref: '#/components/schemas/UUIDv7'
          example: 018f3a2c-9b5e-7d4a-a1c2-e3f4a5b6c7d8
        - name: cursor
          in: query
          required: false
          schema:
            type: string
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
      responses:
        '200':
          description: Quiz attempts retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CursorPaginatedResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'

  /quiz/attempts/{attemptId}:
    get:
      tags: [Quiz]
      summary: Get quiz attempt details with answers
      description: |
        Returns a specific quiz attempt with all answers and explanations.
        Maps to `learning.quiz_attempts` joined with `learning.quiz_answers`
        and `learning.quiz_questions` (for explanations after submission).
      operationId: getQuizAttempt
      security:
        - bearerAuth: []
      parameters:
        - name: attemptId
          in: path
          required: true
          description: UUID v7 identifier of the quiz attempt (public_id)
          schema:
            $ref: '#/components/schemas/UUIDv7'
          example: 018f3a2c-9b5e-7d4a-a1c2-e3f4a5b6c7d8
      responses:
        '200':
          description: Quiz attempt retrieved
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SingleResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/QuizAttemptDetail'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'

  # =========================================================================
  # RECOMMENDATIONS ENDPOINTS
  # =========================================================================
  /courses/{courseId}/ratings:
    get:
      tags: [Recommendations]
      summary: Get course rating summary
      description: |
        Maps to `catalog.course_stats` (average_rating, rating_count).
        The `distribution` field is computed at query time from
        `learning.course_reviews WHERE course_id = :id AND moderation_status = 'approved'`
        grouped by rating value.
      operationId: getCourseRating
      parameters:
        - name: courseId
          in: path
          required: true
          description: UUID v7 identifier of the course
          schema:
            $ref: '#/components/schemas/UUIDv7'
          example: 018f3a2c-9b5e-7d4a-a1c2-e3f4a5b6c7d8
      responses:
        '200':
          description: Rating summary retrieved
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SingleResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/CourseRatingSummary'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
    post:
      tags: [Recommendations]
      summary: Submit rating for a course
      description: |
        Submits or updates a rating. Requires enrollment.
        Updates `catalog.course_stats.average_rating` and `rating_count`.
      operationId: submitRating
      security:
        - bearerAuth: []
      parameters:
        - name: courseId
          in: path
          required: true
          description: UUID v7 identifier of the course
          schema:
            $ref: '#/components/schemas/UUIDv7'
          example: 018f3a2c-9b5e-7d4a-a1c2-e3f4a5b6c7d8
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RatingSubmit'
      responses:
        '204':
          description: Rating submitted
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '409':
          $ref: '#/components/responses/409'
        '422':
          $ref: '#/components/responses/422'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'

  /courses/{courseId}/reviews:
    get:
      tags: [Recommendations]
      summary: List approved reviews for a course
      description: |
        Returns approved reviews only. Maps to
        `learning.course_reviews WHERE course_id = :id AND moderation_status = 'approved'`.
        Uses index `idx_course_reviews_status_time`.
      operationId: listReviews
      parameters:
        - name: courseId
          in: path
          required: true
          description: UUID v7 identifier of the course
          schema:
            $ref: '#/components/schemas/UUIDv7'
          example: 018f3a2c-9b5e-7d4a-a1c2-e3f4a5b6c7d8
        - name: cursor
          in: query
          required: false
          schema:
            type: string
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
      responses:
        '200':
          description: Reviews retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CursorPaginatedResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
    post:
      tags: [Recommendations]
      summary: Submit review for a course
      description: |
        Submits a review (enters moderation queue with status=pending).
        Maps to `learning.course_reviews`. Unique constraint: one review per student per course.
      operationId: submitReview
      security:
        - bearerAuth: []
      parameters:
        - name: courseId
          in: path
          required: true
          description: UUID v7 identifier of the course
          schema:
            $ref: '#/components/schemas/UUIDv7'
          example: 018f3a2c-9b5e-7d4a-a1c2-e3f4a5b6c7d8
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReviewSubmit'
      responses:
        '201':
          description: Review submitted (pending moderation approval)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SingleResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '409':
          description: Review already exists for this course
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        '422':
          $ref: '#/components/responses/422'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'

  /users/me/recommendations:
    get:
      tags: [Recommendations]
      summary: Get personalized recommendations
      description: |
        Returns popularity-based course recommendations (FR-705).
        Uses `catalog.course_stats` index `idx_course_stats_recommendation`
        (popularity_score, weighted_rating).
      operationId: getRecommendations
      security:
        - bearerAuth: []
      parameters:
        - name: cursor
          in: query
          required: false
          schema:
            type: string
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
      responses:
        '200':
          description: Recommendations retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CursorPaginatedResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'

  # =========================================================================
  # WEBHOOK ENDPOINTS
  # =========================================================================
  /webhooks/telebirr:
    post:
      tags: [Webhooks]
      summary: Telebirr C2B payment callback
      description: |
        Receives payment callback from Telebirr C2B service.
        Sole payment method — all platforms.
        Stores in `ops.webhook_events` (provider=telebirr) and updates
        `finance.purchase_transactions` + `finance.purchases` status.
        Idempotency enforced via `purchase_transactions.idempotency_key`.
      operationId: handleTelebirrWebhook
      security:
        - apiKeyHeader: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TelebirrWebhookPayload'
      responses:
        '200':
          description: Webhook processed
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '409':
          description: Duplicate webhook (idempotency key already processed)
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
        '422':
          $ref: '#/components/responses/422'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'

  /webhooks/sms-delivery:
    post:
      tags: [Webhooks]
      summary: SMS delivery status callback
      description: |
        Receives delivery status from SMSEthiopia.
        Stores in `ops.webhook_events`.

        **DB Alignment Note:** `ops.webhook_events.provider` enum currently only has
        'telebirr'. This endpoint requires extending the `payment_provider` enum with
        'smsethiopia' or using a separate webhook_provider enum before go-live.
        The service layer should handle this gracefully until the DB migration is applied.
      operationId: handleSmsDeliveryWebhook
      security:
        - apiKeyHeader: []
      x-db-alignment: requires_enum_extension
      x-db-note: "ops.webhook_events.provider enum must include 'smsethiopia'"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SmsDeliveryWebhookPayload'
      responses:
        '200':
          description: Webhook processed
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '409':
          $ref: '#/components/responses/409'
        '422':
          $ref: '#/components/responses/422'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'

  # =========================================================================
  # SYSTEM ENDPOINTS
  # =========================================================================
  /health:
    get:
      tags: [System]
      summary: Liveness probe
      description: |
        Returns 200 OK if the Abugida application process is running.
        No authentication required. No dependency checks performed.
      operationId: healthLiveness
      security: []
      responses:
        '200':
          description: Service is alive
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum: [ok]
                    example: ok
                  uptime:
                    type: number
                    description: Process uptime in seconds
                    example: 123456.78
                  version:
                    type: string
                    description: Deployed API version
                    example: 2.0.0
                  timestamp:
                    $ref: '#/components/schemas/Timestamp'
                required: [status, uptime, version, timestamp]
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'

  /health/ready:
    get:
      tags: [System]
      summary: Readiness probe
      description: |
        Returns 200 OK only if all critical dependencies are available.
        Checks database connectivity, SMS provider, and payment gateway status.
      operationId: healthReadiness
      security: []
      responses:
        '200':
          description: All dependencies available
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum: [ok]
                  checks:
                    type: object
                    properties:
                      database:
                        type: string
                        enum: [ok, degraded, unavailable]
                      sms_provider:
                        type: string
                        enum: [ok, degraded, unavailable]
                      payment_gateway:
                        type: string
                        enum: [ok, degraded, unavailable]
                    required: [database, sms_provider, payment_gateway]
                  timestamp:
                    $ref: '#/components/schemas/Timestamp'
                required: [status, checks, timestamp]
        '429':
          $ref: '#/components/responses/429'
        '503':
          $ref: '#/components/responses/503'

# =============================================================================
# COMPONENTS
# =============================================================================
components:
  # ===========================================================================
  # SECURITY SCHEMES
  # ===========================================================================
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: |
        JWT Bearer Token Authentication via Better Auth.
        Supported sign-in providers: **Google Sign-In** and **Apple ID**.
    apiKeyHeader:
      type: apiKey
      in: header
      name: X-API-Key
      description: |
        API Key Authentication for Webhooks.
        Validated against `ops.api_keys` table with `principal_type = 'integration'`.

  # ===========================================================================
  # SCHEMAS
  # ===========================================================================
  schemas:
    # ----- Shared primitives -----
    UUIDv7:
      type: string
      format: uuid
      description: |
[...]
